# Project 2 - ETL

## Team Kappa
- Edgar Alejo
- Jose Luis Duarte
- Joaquin Osio
- Pedro Terrazas
- Paola E. VÃ¡zquez

 ___________________________________________
## EXTRACT STAGE

In [1]:
# Source of the Raw Data
#https://www.kaggle.com/ruchi798/movies-on-netflix-prime-video-hulu-and-disney
#https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney

In [2]:
#!pip install seaborn

In [3]:
#!pip install plotly

In [4]:
#Import Dependencies

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
#import seaborn as sns
#import scipy.stats as stats
#import plotly.express as px
#from wordcloud import WordCloud
from sqlalchemy import create_engine

#### Getting Data form CSVs

In [5]:
# Get Data
master_df=pd.read_csv('MoviesOnStreemingPlatformsV2.csv')
master_df2=pd.read_csv('tv_shows.csv')

In [6]:
master_df.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0

In [7]:
master_df2.head(2)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1

In [8]:
# Shape of the dataframe MOVIES
master_df.shape

(16518, 16)

In [9]:
# Shape of the dataframe SERIES
master_df2.shape

(5599, 11)

In [10]:
# Print the name of the columns MOVIES
master_df.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix',
       'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors', 'Genres',
       'Country', 'Language', 'Runtime'],
      dtype='object')

In [11]:
# Print the name of the columns SERIES
master_df2.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type'],
      dtype='object')

___________________________________________
## TRANSFORM STAGE
### NULL Values Verification

In [12]:
# Check for NULL Values MOVIES
master_df.isnull().sum()

ID                     0
Title                  0
Year                   0
Age                 9183
IMDb                 410
Rotten Tomatoes    11363
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            500
Genres                49
Country              209
Language             373
Runtime              366
dtype: int64

In [13]:
# Check for NULL Values SERIES
master_df2.isnull().sum()

Unnamed: 0            0
Title                 0
Year                  0
Age                2439
IMDb               1155
Rotten Tomatoes    4590
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
type                  0
dtype: int64

In [14]:
# Check unique values MOVIES
master_df.nunique()

ID                 16518
Title              16518
Year                 109
Age                    5
IMDb                  82
Rotten Tomatoes       99
Netflix                2
Hulu                   2
Prime Video            2
Disney+                2
Type                   1
Directors          11338
Genres              1909
Country             1303
Language            1102
Runtime              225
dtype: int64

In [15]:
# Check unique values SERIES
master_df2.nunique()

Unnamed: 0         5599
Title              5557
Year                 81
Age                   5
IMDb                 78
Rotten Tomatoes      88
Netflix               2
Hulu                  2
Prime Video           2
Disney+               2
type                  1
dtype: int64

### Duplicate Values Verification

In [16]:
# Check for duplicate values MOVIES
master_df.duplicated().sum()

0

In [17]:
# Check for duplicate values SERIES
master_df2.duplicated().sum()

0

In [18]:
# Make a copy for the dataset
master_dup_df = master_df.copy()

In [19]:
# Make a copy for the dataset
master_dup_df2 = master_df2.copy()

In [20]:
master_dup_df.shape

(16518, 16)

In [21]:
master_dup_df2.shape

(5599, 11)

### Cleanning NULL Values

In [22]:
# Drop NULL values in Runtime MOVIES

master_dup_df=master_dup_df.dropna(subset=['Runtime'])
master_dup_df.shape

(16152, 16)

In [23]:
# Drop NULL values in Language and Country MOVIES
master_dup_df=master_dup_df.dropna(subset=['Language','Country'])
master_dup_df.shape

(15844, 16)

In [24]:
# Null value validation MOVIES
master_dup_df.isnull().sum()

ID                     0
Title                  0
Year                   0
Age                 8663
IMDb                 301
Rotten Tomatoes    10758
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            339
Genres                15
Country                0
Language               0
Runtime                0
dtype: int64

### Filling Values Missing

In [25]:
#master_dup_df['Directors'] = master_dup_df['Directors'].fillna("missing") MOVIES
filtered_df = master_dup_df.copy()

In [26]:
filtered_df.isnull().sum()

ID                     0
Title                  0
Year                   0
Age                 8663
IMDb                 301
Rotten Tomatoes    10758
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors            339
Genres                15
Country                0
Language               0
Runtime                0
dtype: int64

In [27]:
# Fill Director NA with "No Director"
filtered_df["Directors"].fillna("No Director", inplace = True)

In [28]:
# No Director validation
No_Director = filtered_df.loc[:, "Directors"]=="No Director"
df_no_director = filtered_df.loc[No_Director]
df_no_director.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
58,59,Snowpiercer,2013,18+,7.1,94%,1,0,0,0,0,No Director,"Action,Drama,Sci-Fi,Thriller",United States,English,60.0
80,81,Philadelphia,1993,13+,7.7,80%,1,0,0,0,0,No Director,Comedy,United States,English,22.0

In [29]:
# Null values validation
filtered_df.isnull().sum()

ID                     0
Title                  0
Year                   0
Age                 8663
IMDb                 301
Rotten Tomatoes    10758
Netflix                0
Hulu                   0
Prime Video            0
Disney+                0
Type                   0
Directors              0
Genres                15
Country                0
Language               0
Runtime                0
dtype: int64

In [30]:
filtered_df.shape

(15844, 16)

In [31]:
# Drop Type Column: No usefull information on the dataframe MOVIES

filtered_df.drop(['Type'],axis=1, inplace=True)

filtered_df.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0

In [32]:
filtered_df[filtered_df.Directors.str.contains('Alfonso')]

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime
76,77,Y Tu MamÃÂ¡ TambiÃÂ©n,2001,18+,7.6,92%,1,0,0,0,Alfonso CuarÃÂ³n,Drama,Mexico,Spanish,106.0
910,911,SÃÂ³lo con tu pareja,1992,NaN,6.9,67%,1,0,1,0,Alfonso CuarÃÂ³n,"Comedy,Romance",Mexico,"Spanish,English,Japanese,Latin",94.0
2364,2365,The (Silent) War,2019,18+,5.6,56%,1,0,0,0,Alfonso CortÃÂ©s-Cavanillas,"Action,Drama",Spain,Spanish,121.0
2885,2886,Acapulco la vida va,2017,NaN,5.4,NaN,1,0,0,0,Alfonso Serrano Maturino,"Comedy,Drama",Mexico,Spanish,89.0
3222,3223,Pocoyo and the Space Circus,2008,all,5.9,NaN,1,0,0,0,Alfonso Rodriguez,"Animation,Short",Spain,"English,Spanish",24.0
3474,3475,Pocoyo Halloween: Space Halloween,2015,NaN,NaN,NaN,1,0,0,0,Alfonso Rodriguez,"Animation,Short",United States,English,39.0
9452,9453,Picking Up the Pieces,2000,18+,4.8,NaN,0,0,1,0,Alfonso Arau,"Comedy,Crime,Fantasy",United States,English,95.0
10340,10341,Just a Little Chemistry,2015,18+,5.4,NaN,0,0,1,0,Alfonso Albacete,"Comedy,Romance",Spain,Spanish,111.0
14764,14765,Testa di sbarco per otto implacabili,1968,NaN,5.0,NaN,0,0,1,0,Alfonso Brescia,"Drama,War","Italy,France","Italian,French,German,English",89.0

### Replacing special characters

In [33]:
# Replace special characters in Title by vowel MOVIES


filtered_df['Title'] = filtered_df['Title'].str.replace('\ÃÂ¡', 'Ã¡')
filtered_df['Title'] = filtered_df['Title'].str.replace('\ÃÂ©', 'Ã©')
filtered_df['Title'] = filtered_df['Title'].str.replace('\Ã', 'Ã­')
filtered_df['Title'] = filtered_df['Title'].str.replace('\ÃÂ³', 'Ã³')
filtered_df['Title'] = filtered_df['Title'].str.replace('\Ã­Âº:', 'Ãº')
filtered_df['Title'] = filtered_df['Title'].str.replace('\Ã­Â³', 'Ã³')

# Replace special caracters in Title

filtered_df['Title'] = filtered_df["Title"].str.replace("\Ãâº","Ä")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ãâ¢","Å")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¯","Ã¯")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¤","Ã¤")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¥","Ã¥")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂº","Ãº")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ«","Ã«")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ§","Ã§")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ãâ¢","Ã")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ´","Å")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ£","Ã£")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ãâ°","Ã")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¨","Ã¨")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¦","Ã¦")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¸","Ã¸")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ãâ","Ã")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ã","Ã")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ½","Ã½")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ°","Ã°")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ã¢â¬â¢","'")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¢"," Ã¢")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ã¢â¬Â¦","")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ã¢â¦â","1/3")
filtered_df['Title'] = filtered_df["Title"].str.replace("\Ã¢â¬â","-")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¼"," Ã¼")
filtered_df['Title'] = filtered_df["Title"].str.replace("\ÃÂ¶"," oe")

In [34]:
# Replace special caracters in Directors by vowel MOVIES

filtered_df['Directors'] = filtered_df['Directors'].str.replace('\ÃÂ¡', 'Ã¡')
filtered_df['Directors'] = filtered_df['Directors'].str.replace('\ÃÂ©', 'Ã©')
filtered_df['Directors'] = filtered_df['Directors'].str.replace('\Ã', 'Ã­')
filtered_df['Directors'] = filtered_df['Directors'].str.replace('\ÃÂ³', 'Ã³')
filtered_df['Directors'] = filtered_df['Directors'].str.replace('\Ã­Âº:', 'Ãº')
filtered_df['Directors'] = filtered_df['Directors'].str.replace('\Ã­Â³', 'Ã³')

# Replace special caracters in Directors MOVIES

filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ãâº","Ä")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ãâ¢","Å")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¯","Ã¯")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¤","Ã¤")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¥","Ã¥")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂº","Ãº")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ«","Ã«")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ§","Ã§")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ãâ¢","Ã")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ´","Å")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ£","Ã£")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ãâ°","Ã")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¨","Ã¨")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¦","Ã¦")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¸","Ã¸")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ãâ","Ã")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ã","Ã")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ½","Ã½")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ°","Ã°")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ã¢â¬â¢","'")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¢"," Ã¢")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ã¢â¬Â¦","")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ã¢â¦â","1/3")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\Ã¢â¬â","-")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¼"," Ã¼")
filtered_df['Directors'] = filtered_df["Directors"].str.replace("\ÃÂ¶"," oe")

In [35]:
# Replace special caracters in Directors by vowel SERIES

master_df2['Title'] = master_df2['Title'].str.replace('\ÃÂ¡', 'Ã¡')
master_df2['Title'] = master_df2['Title'].str.replace('\ÃÂ©', 'Ã©')
master_df2['Title'] = master_df2['Title'].str.replace('\Ã', 'Ã­')
master_df2['Title'] = master_df2['Title'].str.replace('\ÃÂ³', 'Ã³')
master_df2['Title'] = master_df2['Title'].str.replace('\Ã­Âº:', 'Ãº')
master_df2['Title'] = master_df2['Title'].str.replace('\Ã­Â³', 'Ã³')

# Replace special caracters in Directors SERIES

master_df2['Title'] = master_df2["Title"].str.replace("\Ãâº","Ä")
master_df2['Title'] = master_df2["Title"].str.replace("\Ãâ¢","Å")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¯","Ã¯")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¤","Ã¤")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¥","Ã¥")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂº","Ãº")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ«","Ã«")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ§","Ã§")
master_df2['Title'] = master_df2["Title"].str.replace("\Ãâ¢","Ã")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ´","Å")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ£","Ã£")
master_df2['Title'] = master_df2["Title"].str.replace("\Ãâ°","Ã")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¨","Ã¨")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¦","Ã¦")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¸","Ã¸")
master_df2['Title'] = master_df2["Title"].str.replace("\Ãâ","Ã")
master_df2['Title'] = master_df2["Title"].str.replace("\Ã","Ã")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ½","Ã½")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ°","Ã°")
master_df2['Title'] = master_df2["Title"].str.replace("\Ã¢â¬â¢","'")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¢"," Ã¢")
master_df2['Title'] = master_df2["Title"].str.replace("\Ã¢â¬Â¦","")
master_df2['Title'] = master_df2["Title"].str.replace("\Ã¢â¦â","1/3")
master_df2['Title'] = master_df2["Title"].str.replace("\Ã¢â¬â","-")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¼"," Ã¼")
master_df2['Title'] = master_df2["Title"].str.replace("\ÃÂ¶"," oe")

In [36]:
# Special character change validation

filtered_df[filtered_df.Directors.str.contains('Alfonso')]

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime
76,77,Y Tu MamÃ¡ TambiÃ©n,2001,18+,7.6,92%,1,0,0,0,Alfonso CuarÃ³n,Drama,Mexico,Spanish,106.0
910,911,SÃ³lo con tu pareja,1992,NaN,6.9,67%,1,0,1,0,Alfonso CuarÃ³n,"Comedy,Romance",Mexico,"Spanish,English,Japanese,Latin",94.0
2364,2365,The (Silent) War,2019,18+,5.6,56%,1,0,0,0,Alfonso CortÃ©s-Cavanillas,"Action,Drama",Spain,Spanish,121.0
2885,2886,Acapulco la vida va,2017,NaN,5.4,NaN,1,0,0,0,Alfonso Serrano Maturino,"Comedy,Drama",Mexico,Spanish,89.0
3222,3223,Pocoyo and the Space Circus,2008,all,5.9,NaN,1,0,0,0,Alfonso Rodriguez,"Animation,Short",Spain,"English,Spanish",24.0
3474,3475,Pocoyo Halloween: Space Halloween,2015,NaN,NaN,NaN,1,0,0,0,Alfonso Rodriguez,"Animation,Short",United States,English,39.0
9452,9453,Picking Up the Pieces,2000,18+,4.8,NaN,0,0,1,0,Alfonso Arau,"Comedy,Crime,Fantasy",United States,English,95.0
10340,10341,Just a Little Chemistry,2015,18+,5.4,NaN,0,0,1,0,Alfonso Albacete,"Comedy,Romance",Spain,Spanish,111.0
14764,14765,Testa di sbarco per otto implacabili,1968,NaN,5.0,NaN,0,0,1,0,Alfonso Brescia,"Drama,War","Italy,France","Italian,French,German,English",89.0

In [37]:
# Drop No directors MOVIES
no_directors_df = filtered_df.loc[filtered_df["Directors"]!= "No Director"]

In [38]:
# No director validation MOVIES
no_directors_df_1 = no_directors_df.loc[:, "Directors"]=="No Director"
no_directors_df_1 = no_directors_df.loc[No_Director]
no_directors_df_1.head()

Empty DataFrame
Columns: [ID, Title, Year, Age, IMDb, Rotten Tomatoes, Netflix, Hulu, Prime Video, Disney+, Directors, Genres, Country, Language, Runtime]
Index: []

### Counting Titles by Platform for MOVIES & SERIES

In [39]:
#Count movies by streaming platform MOVIES
netflix = filtered_df.Netflix.sum()
hulu = filtered_df.Hulu.sum()
prime=filtered_df['Prime Video'].sum()
disney = filtered_df['Disney+'].sum()
print(netflix,hulu, prime, disney)
streeming = {"Netflix Movies":netflix,"Prime Video Movies":prime,"Hulu Movies":hulu,"Disney Movies":disney}
print (streeming)

3255 874 11781 551
{'Netflix Movies': 3255, 'Prime Video Movies': 11781, 'Hulu Movies': 874, 'Disney Movies': 551}

In [40]:
#Count movies by streaming platform SERIES
netflix_s = master_df2.Netflix.sum()
hulu_s = master_df2.Hulu.sum()
prime_s =master_df2['Prime Video'].sum()
disney_s = master_df2['Disney+'].sum()
print(netflix_s,hulu_s, prime_s, disney_s)
streeming = {"Netflix Series":netflix_s,"Prime Video Series":prime_s,"Hulu Series":hulu_s,"Disney Series":disney_s}
print (streeming)

1929 1750 2138 180
{'Netflix Series': 1929, 'Prime Video Series': 2138, 'Hulu Series': 1750, 'Disney Series': 180}

In [41]:
#Filter age classification by streaming platform
#filtered_df.groupby("Age").sum()

In [42]:
#Fill no data on Age column
#filtered_df["Age"].fillna("No Data", inplace = True)
#filtered_df.head(2)

In [43]:
#Filter age classification by streaming platform with no data on Age column 
#filtered_df.groupby("Age").sum()

### Identifying Exclusivity Titles for MOVIES & SERIES

In [44]:
#Getting exclusive movies by streaming platform MOVIES
filtered_df["Exclusive"]=""
filtered_df["StreamPL" ]=""
filtered_df.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Exclusive,StreamPL
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,,
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,,

In [45]:
#Getting exclusive series by streaming platform SERIES
master_df2["Exclusive"]=""
master_df2["StreamPL" ]=""
master_df2.head(2)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Exclusive,StreamPL
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,,
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,,

In [46]:
#Iterating through esclusive movies by streaming platform
for i in filtered_df.iterrows():
   filtered_df["Exclusive"]=filtered_df["Netflix" ]+filtered_df["Hulu" ]+filtered_df["Prime Video" ]+filtered_df["Disney+" ]

In [47]:
filtered_df.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Exclusive,StreamPL
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,1,
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1,

In [48]:
#Iterating through esclusive series by streaming platform
for j in master_df2.iterrows():
   master_df2["Exclusive"]=master_df2["Netflix" ]+master_df2["Hulu" ]+master_df2["Prime Video" ]+master_df2["Disney+" ]

In [49]:
master_df2.head(2)

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Exclusive,StreamPL
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,1,
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,1,

### Preparing Dataframes to JOIN by Foreign Key base on Stream ID

In [51]:
#Filtering exclusive movies by 1, this means that the movie is exclusive to an specific platform MOVIES
Exclusive_df= filtered_df.loc[filtered_df["Exclusive"]== 1]
ExclusiveSeries_df= master_df2.loc[master_df2["Exclusive"]== 1]

In [52]:
#Exlusive movies by platform MOVIES_df
Exclusive_df.loc[Exclusive_df['Netflix']==1, 'StreamPL'] = 'N'
Exclusive_df.loc[Exclusive_df['Prime Video']==1, 'StreamPL'] = 'P'
Exclusive_df.loc[Exclusive_df['Hulu']==1, 'StreamPL'] = 'H'
Exclusive_df.loc[Exclusive_df['Disney+']==1, 'StreamPL'] = 'D'

c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [53]:
#Visualization of the results for the loc above
Exclusive_df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Exclusive,StreamPL
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,1,N
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1,N
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,1,N
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,N
5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16511,16512,The Bears and I,1974,all,6.2,NaN,0,0,0,1,Bernard McEveety,"Drama,Family",United States,English,89.0,1,D
16512,16513,Whispers: An Elephant's Tale,2000,all,5.0,NaN,0,0,0,1,Dereck Joubert,"Adventure,Family",United States,English,72.0,1,D
16513,16514,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,1,D
16514,16515,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,1,D
16517,16518,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,James Algar,"Documentary,Short,Family",United States,English,32.0,1,D

In [54]:
#Exlusive series by platform SERIE_df
ExclusiveSeries_df.loc[ExclusiveSeries_df['Netflix']==1, 'StreamPL'] = 'N'
ExclusiveSeries_df.loc[ExclusiveSeries_df['Prime Video']==1, 'StreamPL'] = 'P'
ExclusiveSeries_df.loc[ExclusiveSeries_df['Hulu']==1, 'StreamPL'] = 'H'
ExclusiveSeries_df.loc[ExclusiveSeries_df['Disney+']==1, 'StreamPL'] = 'D'

c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
c:\users\pao\documents\bootcamp_pevp\bootcamp\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [56]:
#Visualization of the results for the loc above
ExclusiveSeries_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Exclusive,StreamPL
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,1,N
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,1,N
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,1,N
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,1,N
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,1,N

________________________________________
## LOAD STAGE

In [57]:
#Save df in csv
Exclusive_df.to_csv('moviesdf.csv', index= False)
ExclusiveSeries_df.to_csv('seriesdf.csv', index= False)

## Create new data with select columns

In [68]:
Movies=Exclusive_df[['Title','IMDb','StreamPL']]
Movies.head()

                               Title  IMDb StreamPL
0                          Inception   8.8        N
1                         The Matrix   8.7        N
2             Avengers: Infinity War   8.5        N
3                 Back to the Future   8.5        N
5  Spider-Man: Into the Spider-Verse   8.4        N

In [67]:
Series=ExclusiveSeries_df[['Title','IMDb','StreamPL']]
Series.head()

              Title  IMDb StreamPL
0      Breaking Bad   9.5        N
1   Stranger Things   8.8        N
2       Money Heist   8.4        N
3          Sherlock   9.1        N
4  Better Call Saul   8.7        N

## LOAD DATAFRAMES TO PG

### Create database connection

In [79]:
streaming_connection_string = "postgres:titota@localhost:5432/Streaming_PL"
engine = create_engine(f'postgresql://{streaming_connection_string}')

### Check for tables

In [83]:
engine.table_names()

['Movies', 'Series']

In [81]:
Movies.to_sql(name="Movies",con=engine,if_exists="replace",index=True)

In [82]:
Series.to_sql(name="Series",con=engine,if_exists="replace",index=True)

In [78]:
engine.dispose()